html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 400px;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.screen {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 40px;
}

.calc-button-row {
    display: flex;
    flex-flow: row nowrap;
}

.calc-button {
    flex-basis: 25%;
    height: 100px;
    font-size: 40px;
    font-weight: 500;
    border: 1px solid black;
    background-color: #d8d9db;
}

.calc-button:hover {
    background-color: #ebebeb;
}

.calc-button:active {
    background-color: #bbbcbe;
}

.double {
    flex-basis: 50%;
}

.triple {
    flex-basis: 75%;
}

.calc-button:last-child {
    background-color: #df974c;
    color: white;
}

.calc-button:last-child:hover {
    background-color: #dfb07e;
}

.calc-button:last-child:active {
    background-color: #dd8d37;
}

